doctype html
html
    head
        link(rel= "stylesheet", href="/css/main.css" )
        title KodeIV blog posts
    body
        div.auth-btns
         div.auth-btn.fb
          a(href='/auth/facebook')
           span.icn.sm
           span.msg.sm Log in with Facebook
         div.auth-btn.gplus
          a(href='/auth/google')
           span.icn.sm
           span.msg.sm Log in with Google
        img#lol(src="/img/logo3.png")
        block content

      