doctype html
html
head
	link(rel= "stylesheet", href="/css/main.css")
	script(src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js")
	title KodeIV blog posts
	body
		div.auth-btns
			div.auth-btn.fb
				a(href='/auth/facebook')
					span.icn.sm
					span.msg.sm Log in with Facebook
			div.auth-btn.gplus
				a(href='/auth/google')
					span.icn.sm
					span.msg.sm Log in with Google
		img#lol(src="/img/logo3.png")
		form.navbar-form.navbar-left(role='search' method='post' action='/articles/search')
			div.form-group
				input.form-control(name='query' type='text', placeholder='Search')
				input.btn.btn-default(type='submit')
		block content
