doctype html
html
  head
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    title KodeIV blog posts
  body
    div.container
      h1 Have a look through the KodeIV blog posts 
      
        ul
          li.
            #{name}
            #{text}