
extends base
block append content
  div.container
    h1 Have a look through the KodeIV blog posts
    ul
        each user, i in author
          li
            p #{user.author} :
            a(href="/articles/"+user._id) #{user.title}