
extends base
block append content
  div.container
    h1 Have a look through the KodeIV blog posts
   table
    each user, i in author
      tr
        td: p #{user.author} :
        td: a(href="/articles/"+user._id) #{user.title}
