
extends base
block append content
  div.container
    h1 Blog post
    ul
        li.
          #{blogpost.title} :
          #{blogpost.content}
        form(name="input", method="DELETE", action="/home")
          p
            input(type="submit", value="Delete")
        form(name="input", method="GET", action="/articles/edit")
          p
            input(type="submit", value="Edit")

        form(method="POST", action="home")
          p
            input(type="hidden", name= "individualID", value = '#{blogpost._id}')
            textarea(name="comments", id="comments")
              | Write your comment here
            p
            input(type= "text", name= "author", value = "username")
            p
          input(class="submitpost" type="submit", value = "Comment")
          #squigal

   script( src = "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script( src = "/css/ajax.js" )
