
extends base
block append content 
  div.container
    h1 Blog post
    ul
      each user, i in blogpost
        li.
          #{user.title} :
          #{user.content} 
         
				

        form(name="delete", method="DELETE", action="/articles/{id}")
        p
          input(type="submit", value="Delete")

