
extends base
block append content
  div.container
    h1 Blog post
    ul
        li.
          #{blogpost.title} :
          #{blogpost.content}
        form(name="input", method="POST", action="articles/{id}")
        p
          input(type="submit", value="Delete")
        form(name="input", method="GET", action="/articles/edit")
        p
          input(type="submit", value="Edit")


        form(method="POST", action="/home")
              textarea(name="comments", id="comments")
                | Write your comment here
          p
        p
          input(class="submitpost" type="submit", value = "Comment")
