extends base
block append content
  h3. Write a blog post.
  ul
    form(class="form" name="input", method="POST", action="articles/new")
      p Name
        input(type="text", name="author")
      p Title
        input(type="text", name="title")
      p Content
        textarea(name="content", id="content")
      p
        input(class="submitpost" type="submit", value="submit")
