h1{
	color: #f89d61;
	font-size: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	width: 1200px;
	height: 40px;
}

p{
	font-family: font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 80px;
}

a{
	font-family: font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li{
	width: 80px;
}

ul{
	display: inline-block;
	text-align: center;
}
table{
	border-radius: 10px;
	border: solid 2px #bc365e;
	margin-left: 180px;
	margin-bottom: 20px;
}

body {
	background-image: url("http://i.imgur.com/uHfgI5v.png");
	background-image: no-repeat;
	background-attachment: fixed;
	background-position: center;
	backgound: fill;
	height: 400px;
	width: 100%;
	margin-bottom: 5px;
	/*margin-top: 25px;*/
}

input.submitpost {
		background-color: #f89d61;
		opacity: 0.8;
	}
.submitpost:hover{
			opacity: 1.0;
			background-color:#f89d61;
			border-width: 5px;
			box-shadow: 10px 10px 5px #888888;
			margin-bottom: 0;
			border-color: #357ebd;

}

#lol {

	width: 90px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


a:link {
	color: #3399FF;
}

/* visited link */
a:visited {
	color: #3399FF;
}

/* mouse over link */
a:hover {
	color: #92ba9d;
}

/* selected link */
a:active {
	color: #3399FF;
}

}

#comments {
	width: 250px;
	height: 120px;
}

#content {
	width: 500px;
	height: 750px;
}
